:root{
    --rosita:#ed22ee ;
    --cian:  #2bcaa4;
    --moradito: #bc52d0 ;
   --blanco: #fff;
   --negro: #000;
   --fuente_principal: "Lobster", sans-serif;


}

html {
    box-sizing: border-box; /*con estos comando cre un marco y escala, asi puedo tener todo 
    a la misma esta 10px=1rem y todo en la misma caja*/
    font-size: 62.5%;
    /*height: 100%;  */
}

*, *:before, *:after{
    box-sizing: inherit;
}


body {

    background-image: linear-gradient(to top,var(--rosita),var(--cian) 100%);
    font-size:1.6rem;
    line-height: 1.5rem;
    background-repeat: no-repeat;
    font-family: var(--fuente_principal);
}


p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco)
}
 a{
    text-decoration: none;
 }
 img {
    max-width: 100%
 }


.contenedor {
    max-width: 120rem;
    margin: 0 auto;

 }
h1, h2, h3 {
    text-align: center;
    color: var(--blanco);
    font-family: var(--fuente_principal);
}

h1 {
    font-size: 4rem;
}


h2 {
    font-size: 3.2rem;
}
 h3 {
    font-size: 2.4rem;
 }

/*header*/

.header {
    display: flex;
    justify-content: center;
}
.header__logo {
    
    gin: 3rem 0;
}

.footer {
    background-color: var(--moradito);
    padding: 1rem 0;
    margin-top: 2rem;

}
 .footer__texto {
    text-align: center;
    font-family: var(--fuente_principal);
    font-size: 2.2rem;

 }









.navegacion {
    background-color:  var(--moradito);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
  /*  gap: 2rem; /*disntamcia que sse deja entre flex en este caso entr las letras de los botonos d la frnaja*/
}
.navegacion__enlace{
    font-family: var(--fuente_principal);
    color: var(--blanco);
    font-size: 4rem;

    margin-right: 2rem; /*para la separacion de los botones en la frnaja
    lo que hace es separar los botone es horizontalmente por 2 rem*/
}


.navegacion__enlace:last-of-type{/* el comando laste... lo que hace es que toma el ultimo comando y le aplica el cambio*/
    margin-right: 0;/*para la separacion de los botones en la frnaja
    con este y el otro comando lo centro a los botones
    este espeficicamnete no deja marguen y logra hacer que se centre*/
}





.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--negro);
}


.producto {

}
.producto__imagen {

}

.producto__informacion {

}
.producto__nombre {

}
.producto__precio {

}


.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}